/* <<<<<<-------FONTS ------->>>>*/
@font-face {
	font-family: 'afterglow';
	src: url('../Font/Afterglow.ttf');
	src: local('☺'), url('../Font/Afterglow.ttf') format('truetype');
}

@font-face {
	font-family: 'Regensbur';
	src: url('../Font/Regensburg.ttf');
}

@font-face {
	font-family: 'Homework';
	src: url('../Font/Homework.ttf');
}

@font-face {
	font-family: 'Oswald';
	src: url('../Font/Oswald.ttf');
}

@font-face {
	font-family: 'ironman';
	src: url('../Font/IronMan.ttf');
}

@font-face {
	font-family: 'Lemon';
	src: url('../Font/LEMONMILK.otf');
}

@font-face {
	font-family: 'ar';
	src: url('../Font/ar.ttf');
}

@font-face {
	font-family: 'sans';
	src: url('../fonts/QuattrocentoSans-Regular.eot');
	src: local('☺'), url('../fonts/QuattrocentoSans-Regular.woff') format('woff'), url('../fonts/QuattrocentoSans-Regular.ttf') format('truetype'), url('../fonts/QuattrocentoSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FONT CLOSED */
* {
	margin: 0;
	padding: 0;
}

/* <<<<<<<<------ FrontEnd--CSS ---------->>>>>>>>>>> */
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 45px;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 4px;
}

#myBtn:hover {
	background-color: #555;
}

#body-color {
	background-image: linear-gradient(to left top, rgb(241, 111, 88), #4b9ed4);
}

.Outer {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url(../Image/aqua.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

#nist_logo_name {
	font-size: 2em;
	background: linear-gradient(to right, red, yellow, green, blue, orange, blue, purple, yellow, gray);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-style: italic;
	font-family: 'Anton', sans-serif;
	font-weight: bold;
	display: inline-flex;
	margin-left: 10px;
	letter-spacing: 2px;
	margin-top: -10px;
	background-size: 500%;
	animation: heartbeat 2s linear infinite;
}

@keyframes heartbeat {

	0% {
		transform: scale(1);
		background-position: 0 100%;
	}

	25% {
		transform: scale(1.1);

	}

	50% {
		transform: scale(1.5);
		background-position: 100% 0;
	}

	75% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
		background-position: 0 100%;
	}
}

.navbarShadow {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
	height: 70px;
}

.NavBar {
	font-family: "Oswald";
	font-size: 17px;
	text-transform: uppercase;
	margin: 0px 10px 0px;
}

.navbar-toggler:hover {
	background-color: rgb(206, 27, 27);

}

.navbar-light .navbar-nav .nav-link {
	color: white;
	/* padding: 15px; */
	/* margin: 5px 5px 5px; */
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #ffc947;
}


.active {
	background-color: red;
	box-shadow: 2px 2px 10px rgba(186, 185, 185, 0.3);
	border-radius: 10px;
	box-sizing: border-box;
}

main {
	width: 100%;
	/* position: sticky; */
	height: 90vh;
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
	color: wheat;
}

section h3 {
	font-size: 35px;
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 2px;
	font-weight: bolder;
	text-transform: uppercase;
	text-shadow: 2px 3px 5px black;
}

#logo a img {

	width: 130px;
	height: 130px;
}

#logo a img:hover {
	transition: 3s;
	transform: rotate(360deg);
	transform: scale(-1, 1);
}

section h2 {
	font-size: 60px;
	display: flex;
	font-weight: bolder;
	letter-spacing: 5px;
	color: transparent;
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	background-image: linear-gradient(to left, tomato, aqua, red, blue);
	-webkit-background-clip: text;
	-webkit-background-size: 500%;
	animation: animate 5s linear infinite;
	background-size: 500%;
}

@keyframes animate {
	0% {
		background-position: 0 100%;
	}

	50% {
		background-position: 100% 0;
	}

	100% {
		background-position: 0 100%;
	}

}

section p {
	font-size: 20px;
	letter-spacing: 3px;
	font-family: cursive;
	text-transform: uppercase;
	text-shadow: 2px 3px 4px black;
}

/*  Footer Start*/
.footer-dark {
	padding: 0px 0;
	color: #111;
	/* background-color:#282d32; */
}

.item {
	margin-top: 20px;
}

.item ul li a {
	font-weight: bold;
}

.item ul li a:hover {
	color: white;
}

.footer-dark h3 {
	margin-top: 0;
	text-decoration: underline red 2px;
	margin-bottom: 12px;
	font-weight: bold;
	/* padding: 5px; */
	font-size: 16px;
}

.footer-dark ul {
	padding: 0;
	list-style: none;
	line-height: 1.6;
	font-size: 14px;
	margin-bottom: 0;
}

.footer-dark ul a {
	color: inherit;
	text-decoration: none;
	/* opacity:0.6; */
}

.footer-dark ul a:hover {
	opacity: 0.8;
}

.dark1 {
	background-color: rgb(255, 183, 0);
}

#footer-email {
	text-decoration: none;
}

.m {
	line-height: 2.1;
	font-family: Georgia, 'Times New Roman', Times, serif;
	display: inline-block;
	padding: 0px;
	width: 400px;
}

#copyright {
	color: black;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}

/*  Footer CLosed*/

/* Notice content-Start */
.detail-notice {
	position: relative;
	bottom: 40px;
	left: 140px;
}

marquee.mark1 {
	text-align: center;
}

.mark1 a {
	color: black;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

.mark1 a:hover {
	color: rgb(19, 49, 218);
}

div a {
	padding: 5px;
}

#main-content {
	align-items: center;
	justify-content: center;
	text-align: center;
	/* border: 3px solid ; */
}

#main-content div h3 {
	background: #77D970;
	letter-spacing: 1px;
	font-weight: bold;
	width: 390px;
	height: 60px;
	font-size: 25px;
	text-decoration: none;
	border: 5px ridge rgb(240, 233, 233);
	border-bottom: none;
	text-shadow: 2px 3px 9px #8d98a3;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Anton', sans-serif;
	margin-left: -20px;
	margin-top: -65px;
}

.a1 {
	background-image: linear-gradient(to left bottom, rgba(26, 210, 223), rgba(255, 99, 71), rgba(255, 215, 0));
	width: 390px;
	height: 500px;
	border: 5px ridge rgb(240, 233, 233);
	box-shadow: 9px 8px 7px #242323;
	top: 110px;
	border-top: none;
	padding: 15px;
	display: inline-block;
	margin-left: 35px;
	margin-bottom: 10px;
	font-family: cursive;
	text-align: center;
	padding-bottom: 10px;
}

/* NOTICE LIST */
span.time {
	background: url(../Image/bg-time.png)center top;
	background-repeat: no-repeat;
	float: left;
	color: #fff;
	font-family: "Oswald";
	display: block;
	width: 45px;
	height: 45px;
	font-size: 10px;
	margin: 0 5px 15px 0;
	padding: 0 5px;
	text-align: center;
	text-transform: uppercase;
}

/*// Notice content-Close // */

/*// about-Page-Start // */
.about-container {
	margin: 10px 10px 0px;
	border: 2px black solid;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 22px;
	border-bottom-left-radius: 22px;
	background: whitesmoke;
	display: inline-block;
	width: auto;
	height: 400px;
	overflow: hidden;
	box-shadow: 5px 5px 10px rgb(255, 255, 255);
}

.container #dots,
#more {
	/* margin: 20px 20px 10px; */
	line-height: 40px;
	font-family: 'Bubblegum Sans', cursive;
	font-weight: 900;
	font-size: large;

}

.readMore {
	margin: 10px;
}

.readMore:hover {
	background: #dc3545;
	box-shadow: 2px 2px 2px black;
}

.box-img {
	margin: 10px;
}

.box-img img {
	float: right;
	margin: 10px;
	width: 280px;
	height: 250px;
}

.box h1 {
	border-top-left-radius: 22px;
	border-top-right-radius: 22px;
	border-bottom-right-radius: 22px;
	border-bottom-left-radius: 22px;
	background: tomato;
	text-align: center;
	font-weight: bolder;
	font-family: 'Staatliches', cursive;
	text-decoration: none;
}

.title-desc p {
	margin: 20px 20px 10px;
	line-height: 40px;
	font-family: 'Bubblegum Sans', cursive;
	font-weight: 900;
	font-size: large;
	height: 200px;
	overflow: hidden;

}

div.about-container,
div.title-desc.show p {
	height: auto;
	overflow: auto;
	/* background: #04b630; */
}

/*// about-Page-Closed // */
/*// Courses-Page-Start // */
.content {
	background: palegoldenrod;
	border-radius: 30px;
	padding: 20px;
}

.cg_course {
	margin: 0px auto;
	padding: 0px auto;
}

div.a:hover {
	background-color: rgb(116, 238, 116);
	color: black;
	box-shadow: -2px 6px 6px black;
}

#cg li {
	display: inline-block;
	margin-left: 10px;
	margin-top: 20px;
}

.button1 {
	font-family: "Lemon";
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #111;
	background-color: rgb(254, 252, 252);
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.button1:hover {
	background-color: rgb(223, 223, 223)
}

.button1:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.button1 {}

/*// Courses-Page-Closed // */
/* SUBJECT-PAGE START */
.subject ul li {
	list-style: circle;
	font-size: large;
	font-weight: bold;
	font-family: sans-serif;
	line-height: 30px;
	text-transform: uppercase;
	color: rgb(224, 67, 9);
	margin-left: 16px;
}

.sub {
	text-align: center;
	background: #BFFFF0;
	font-family: fantasy;
	letter-spacing: 1px;
	color: black;
}

div.subject {
	background-color: #F5E8C7;
}

.subName {
	font-family: fantasy;
	margin: 10px 0px 2px;
	background-color: #FF4949;
}

/* SUBJECT-PAGE CLOSED */
/* CONTACT-PAGE STArt */
.contact {
	box-sizing: content-box;
	background-color: rgb(186, 235, 235);
	width: max-content;
	border-radius: 30px;
	height: min-content;
	text-align: center;
	color: rgb(10, 10, 10);
	text-shadow: 5px 5px 10px black;
	text-decoration: none;
	word-spacing: 2px;
}

.contact a {
	text-decoration: none;
	color: black;
}

.contact a:hover {
	color: red;
}

/* CONTACT-PAGE CLOSED */

/* READ MORE BUTTON ABOUT PAGE */

#more {
	display: none;
}

/* <<<<<<<<------------------MEDIA QUERY - MOBILE-------->>>>>>>>>> */

@media (min-width:320px) and (max-width:425px) {
	.Outer {
		height: 80vh;
	}

	#nist_logo_name {
		margin-left: -20px;
		margin-top: 10px;
	}


	/* <<<<<<<<------------------NAVBAARRRRRRR-------->>>>>>>>>> */
	.NavBar {
		font-size: 13px;
		margin: 1px 1px 0px;
	}

	.navbar-light .navbar-nav .nav-link {
		margin: 0px 1px;
	}

	.navItem {
		margin: 0px -9px 0px;
		padding: 0px 0px 0px;
	}

	main {
		height: 65vh;
	}

	section h3,
	section h2 {
		font-size: 30px;
	}

	#logo a img {
		width: 100px;
		height: 100px;
	}

	/* Carousel */
	/* about */
	.detail-notice {
		position: relative;
		bottom: 40px;
		left: 90px;
	}

	#main-content div h3 {
		width: 270px;
		height: min-content;
		margin-top: -40px;
	}

	#main-content div h3 #notice {
		color: black;
		text-decoration: none;
		font-size: 15px;
	}

	marquee {
		height: 400px;
	}

	.a1 {
		background-image: linear-gradient(to left bottom, rgba(26, 210, 223), rgba(255, 99, 71), rgba(255, 215, 0));
		width: 270px;
		height: 450px;
		margin-top: 35px;
		margin-bottom: 10px;
		font-family: cursive;
		text-align: center;
		padding-bottom: 10px;
	}

	#myBtn {
		right: 45px;
	}

	.border img {
		width: 100%;
		height: auto;
		position: relative;
	}

	.border {
		width: 100%;
		/* height: auto;			   */
		background: whitesmoke;
		border-end-end-radius: 40px;
		border-start-start-radius: 40px;
	}

	.border h1 {
		font-size: 30px;
	}

	.container #dots,
	#more {
		margin: 30px 10px 10px;
		line-height: 30px;
	}

	/* footer */
	.dark1 {
		text-align: center;
	}

	.m {
		width: auto;
	}

}

/* Media Query */
@media (min-width:426px) and (max-width:768px) {
	.Outer {
		height: 80vh;
	}

	#nist_logo_name {
		margin-left: -20px;
		margin-top: 10px;
	}

	/* <<<<<<<<------------------NAVBAARRRRRRR-------->>>>>>>>>> */
	.NavBar {
		font-size: 14px;
		margin: 0px 17px 0px;
	}

	.navbar-light .navbar-nav .nav-link {
		margin: 0px 1px;
	}

	.navItem {
		margin: 0px -9px 0px;
		padding: 0px 0px 0px;
	}

	main {
		height: 70vh;
	}

	section h3,
	section h2 {
		font-size: 35px;
	}

	#logo a img {
		width: 120px;
		height: 120px;
	}

	section p {
		font-size: 25px;
	}

	/* Carousel */
	/* about */
	.detail-notice {
		position: relative;
		bottom: 40px;
		left: 90px;
	}

	#main-content div h3 {
		width: 270px;
		height: min-content;
		margin-top: -40px;
	}

	#main-content div h3 #notice {
		color: black;
		text-decoration: none;
		font-size: 15px;
	}

	marquee {
		height: 400px;
	}

	.a1 {
		background-image: linear-gradient(to left bottom, rgba(26, 210, 223), rgba(255, 99, 71), rgba(255, 215, 0));
		width: 270px;
		height: 450px;
		margin-top: 35px;
		margin-bottom: 10px;
		font-family: cursive;
		text-align: center;
		padding-bottom: 10px;
	}

	#myBtn {
		right: 45px;
	}

	.border img {
		width: 100%;
		height: auto;
		position: relative;
	}

	.border {
		width: 100%;
		/* height: auto;			   */
		background: whitesmoke;
		border-end-end-radius: 40px;
		border-start-start-radius: 40px;
	}

	.border h1 {
		font-size: 30px;
	}

	.container #dots,
	#more {
		margin: 30px 10px 10px;
		line-height: 30px;
	}

	/* footer */
	.dark1 {
		text-align: center;
	}

	.m {
		width: auto;
	}
}